<nav class="nav bg-ligth padding">
    <%= link_to "Inicio", root_path, class:"nav-link" %></li>
    <%= link_to "Todos los articulos", articles_path, class:"nav-link" %></li>
    <%= link_to "Escribir", new_articles_path, class:"nav-link" %></li>
</nav>